@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hero-background {
    background-image: url('/bgLines.svg');
  }

  .footerbg1 {
    background-image: url('/bgLineTop.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .footerbg2 {
    background-image: url('/bgLineBottom.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}